{% extends "../base.html" %}
{% load static %}

{% block hero %}
<div class="hero min-h-screen relative">
  <div class="absolute inset-0 z-0">
    <img src="{% static "img/hero-img.png" %}" alt="Background" class="object-cover w-full h-full opacity-75" />
  </div>  
  <div class="hero-content -mt-20 mr-20 flex-col lg:flex-row-reverse">
    <div>
      <h1 class="text-5xl font-bold lg:text-left">A NFT SimGolf Game</h1>
      <p class="py-4 lg:w-1/2 lg:text-left text-center">Own your very own golfer and compete in tournaments and against other players for rewards!</p>
      <button class="btn btn-primary"><a href={% url "nftGallery" %}>View NFTs</a></button>
    </div>
  </div>  
</div>
{% endblock hero %}

{% block body %}
<div class="flex justify-center items-center mt-12">
  <p class="font-bold text-lg py-6 text-center md:w-1/2">Golf Simulation on Chia's blockchain. NFT Golfers, $SFS tokens power unique gameplay. Collect, trade, compete in a groundbreaking fusion of gaming and blockchain technology</p>
</div>  
<div class="hero min-h-screen bg-gradient-to-r from-base-100 to-transparent">
  <div class="hero-content flex-col lg:flex-row">
    <img src="{% static "img/beerhat_example.png" %}" class="w-1/4 h-1/4 rounded-lg shadow-2xl" />
    <div>
      <h1 class="text-5xl font-bold">Own a Golfer!</h1>
      <p class="py-6">Have a one-of-a-kind NFT golfer in your wallet which you can compete and trade  with other players!</p>
      <button class="btn btn-primary">Mint a Chamster</button>
    </div>
  </div>
</div>
<div class="hero min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img src="https://daisyui.com/images/stock/photo-1635805737707-575885ab0820.jpg" class="max-w-sm rounded-lg shadow-2xl" />
    <div>
      <h1 class="text-5xl font-bold">Tournaments</h1>
      <p class="py-6">Compete in tournaments to prove that your NFT Golfer is the ultimate champion of the Chamster metaverse.</p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>
<div class="hero min-h-screen">
  <div class="hero-content flex-col lg:flex-row">
    <img src="https://daisyui.com/images/stock/photo-1635805737707-575885ab0820.jpg" class="max-w-sm rounded-lg shadow-2xl" />
    <div>
      <h1 class="text-5xl font-bold">PvP</h1>
      <p class="py-6">Challenge other players in various game format and wager with $SFS tokens</p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>
<div class="hero min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img src="https://daisyui.com/images/stock/photo-1635805737707-575885ab0820.jpg" class="max-w-sm rounded-lg shadow-2xl" />
    <div>
      <h1 class="text-5xl font-bold">$SFS Token</h1>
      <p class="py-6">All in-game transactions are made exclusively in $SFS which can be earned from in gameplay or traded on the DEX</p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>
<section>
  <h1 class="text-5xl font-bold m-2 mb-8"> Blog Posts </h1>
  <div class="m-8 mb-20 flex flex-row flex-wrap">
    <div class="card card-compact w-full sm:w-1/2 lg:w-1/4 bg-base-100 shadow-xl pr-4">
      <figure><img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure>
      <div class="card-body">
        <h2 class="card-title">Shoes!</h2>
        <p>If a dog chews shoes whose shoes does he choose?</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Buy Now</button>
        </div>
      </div>
    </div>
    <div class="card card-compact w-full sm:w-1/2 lg:w-1/4 bg-base-100 shadow-xl pr-4">
      <figure><img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure>
      <div class="card-body">
        <h2 class="card-title">Shoes!</h2>
        <p>If a dog chews shoes whose shoes does he choose?</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Buy Now</button>
        </div>
      </div>
    </div>
    <div class="card card-compact w-full sm:w-1/2 lg:w-1/4 bg-base-100 shadow-xl pr-4">
      <figure><img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure>
      <div class="card-body">
        <h2 class="card-title">Shoes!</h2>
        <p>If a dog chews shoes whose shoes does he choose?</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Buy Now</button>
        </div>
      </div>
    </div>
    <div class="card card-compact w-full sm:w-1/2 lg:w-1/4 bg-base-100 shadow-xl pr-4">
      <figure><img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure>
      <div class="card-body">
        <h2 class="card-title">Shoes!</h2>
        <p>If a dog chews shoes whose shoes does he choose?</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Buy Now</button>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock body %}
